{% extends 'Tasks/layout.html' %}

{% block body %}
      <div class="container" id="tasks_page_container">
        <h1>Tasks</h1>
        {% if user.is_authenticated %}

          <div id="tasks_container">

              {% for task in tasks %}
              <div class="row" style="padding-left: 20px; padding-right:20px;">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="">
                  
                  <label class="form-check-label d-flex justify-content-between" for="flexCheckDefault">
                      <div class="col-10">{{ task.task }}</div>
                      {% if task.target_date != None %}
                        {% if task.target_date|date:"Y-m-d" >= now|date:"Y-m-d" %}
                            <div class="col-1">{{ task.target_date|date:"M d" }}</div>
                        {% else  %}
                            <div class="col-1 danger">{{ task.target_date|date:"M d" }}</div>
                        {% endif %}
                      {% else %}
                          <div class="col-1"></div>
                      {% endif %}
                      {% if task.target_time != None %}
                          <div class="col-1">{{ task.target_time }}</div>
                      {% else %}
                          <div class="col-1"></div>
                      {% endif %}
                    </div>
                  </label>
              </div>

              {% endfor %}
          </div>
        
              <div>
              <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop" id="plus">
                  +
              </button>
                
                <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="staticBackdropLabel">Add New Task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body">
                    <div>
                      <form action="{% url 'new_task' %}" id="newTaskForm" method="post">
                          {% csrf_token %}
                          {{ new_task_form.non_field_errors }}
                            <div class="fieldWrapper" id="taskTitle">
                              <label for="{{ new_task_form.task.id_for_label }}">What do you need to do?</label>
                              {{new_task_form.task}}
                            </div>
                            
                                <div class="fieldWrapper">
                                  <label for="{{ new_task_form.target_date.id_for_label }}">&#x1F4C5; Date:</label>
                                  {{new_task_form.target_date}}
                                </div>
                                <div class="fieldWrapper">
                                  <label for="{{ new_task_form.target_time.id_for_label }}">&#x23F0; Time:</label>
                                  {{new_task_form.target_time}}
                                </div>
                          <input type="submit" value="Add Task" class="submit_btn blue_btn">
                      </form>
                    </div>
                  </div>
                </div>
          {% else %}
          <div class="central_alert ">
            <p>Please login to view or add to your tasks.</p>
            <button class='blue_btn central_alert_btn'>
              <a href="{% url 'register' %}">Register</a>
            </button>
            <button class='blue_btn central_alert_btn'>
              <a href="{% url 'login' %}">Login</a>
            </button>
          </div>
          {% endif %}
        </div>
      
{% endblock %}