{% extends 'Tasks/layout.html' %}

{% block body %}
      <div class="container" id="tasks_page_container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1>Tasks</h1>

            <nav aria-label="Page navigation" id="nav_drop">
              <div class="dropdown">
                <a class="btn blue_btn dropdown-toggle unlink" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="drop_btn">
                  Tasks
                </a>
              
                <ul class="dropdown-menu">
                  {% if page_obj.has_previous %}
                      <li class="page-item"><a class="dropdown-item unlink" href="?page={{ page_obj.previous_page_number }}">Previous 10 tasks</a></li>
                  {% endif %}
                  {% if page_obj.has_next %}
                      <li class="page-item"><a class="page-link dropdown-item unlink" href="?page={{ page_obj.next_page_number }}">Next 10 tasks</a></li>
                  {% endif %}
                </ul>
            </nav>
          </div>
        {% if user.is_authenticated %}
          <div id="tasks_section">
            
            
            <div class="tasks_container" id="uncompleted_tasks_container">
                        

              {% comment %} Placeholder for uncompleted tasks {% endcomment %}


            </div>

            <div class="tasks_container" id="completed_tasks_container">
              <div class="accordion">
                <div class="accordion-item">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded='false' data-bs-target="#collapseOne" aria-controls="collapseOne">
                    <span class="mont-bold">Completed (showing 5)
                    </span>
                  </button>

                  <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <p>
                      <a href="{% url 'list_completed' %}" style="text-decoration: underline; margin-left: 20px;">
                        see all
                      </a>
                    </p>
                    <div class="accordion-body" id="completed_accordion">
                          
                      {% comment %} Placeholder for completed tasks {% endcomment %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          
          
          <div>
            <button class="btn btn-primary blue_btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop" id="plus">
                +
            </button>
              
            <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="staticBackdropLabel">Add New Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <div>
                  <form action="{% url 'new_task' %}" id="newTaskForm" method="post">
                      {% csrf_token %}
                      {{ new_task_form.non_field_errors }}
                        <div class="fieldWrapper" id="taskTitle">
                          <label for="{{ new_task_form.task.id_for_label }}">What do you need to do?</label>
                          {{new_task_form.task}}
                        </div>
                        
                            <div class="fieldWrapper">
                              <label for="{{ new_task_form.target_date.id_for_label }}">&#x1F4C5; Due Date:</label>
                              {{new_task_form.target_date}}
                            </div>
                            <div class="fieldWrapper">
                              <label for="{{ new_task_form.target_time.id_for_label }}">&#x23F0; Time:</label>
                              {{new_task_form.target_time}}
                            </div>
                      <input type="submit" value="Add Task" class="submit_btn blue_btn">
                    </form>
                  </div>
                </div>
              </div>
        {% else %}
            <div class="central_alert ">
              <p>Please login to view or add to your tasks.</p>
              <button class='blue_btn central_alert_btn'>
                <a class="unlink" href="{% url 'register' %}">Register</a>
              </button>
              <button class='blue_btn central_alert_btn'>
                <a class="unlink" href="{% url 'login' %}">Login</a>
              </button>
            </div>
        {% endif %}
      </div>      

        <script type="text/babel">
          function RenderCompleted() {
            const tasks = JSON.parse('{{ tasks_raw|safe|escapejs }}');
            const completedTasks = tasks.filter(task => task.completed === true);
            const sortedCompletedTasks = completedTasks.sort((a, b) => new Date(b.created) - new Date(a.created)); // Sort completed tasks by creation date in descending order
            const latestCompletedTasks = sortedCompletedTasks.slice(0, 5); // Get the 5 latest completed tasks


              const taskComponents = latestCompletedTasks.map((task, index) => {
                  return (
                      <div class="complete" key={task.id}>
                          <Task
                              user={task.user}
                              task={task.task}
                              completed={task.completed}
                              target_date={task.target_date}
                              target_time={task.target_time}
                              created={task.created}
                              id={task.id}
                          />
                      </div>
                  );
              });
          console.log("tasks:",tasks);
          console.log("completed:", completedTasks);
          console.log("sorted completed:", sortedCompletedTasks);
          console.log("completed:", latestCompletedTasks);
          console.log(tasks);
              return taskComponents; 
          };

          function RenderUncompleted() {
            const tasks = JSON.parse('{{ tasks|safe|escapejs }}');

              const taskComponents = tasks.map((task, index) => {
                  return (
                      <div class="" key={task.id}>
                          <Task
                              user={task.user}
                              task={task.task}
                              completed={task.completed}
                              target_date={task.target_date}
                              target_time={task.target_time}
                              created={task.created}
                              id={task.id}
                          />
                      </div>
                  );
              });

              const uncompleted_taskComponents = taskComponents.filter(component => component.props.children.props.completed === false);
          
              return uncompleted_taskComponents;
          };
          
          ReactDOM.render(<RenderCompleted />, document.querySelector('#completed_accordion'));
          ReactDOM.render(<RenderUncompleted />, document.querySelector('#uncompleted_tasks_container'));
      </script>
{% endblock %}