{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} Tasks {% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="{% static 'Tasks/styles.css' %}" rel="stylesheet">

        <link rel="icon" type="image/png" href="{% static 'Tasks/Tick_icon.png' %}" />

        <script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        {% comment %} Include React Components from static {% endcomment %}
        {% comment %} <script src="{% static 'Tasks/app.js' %}"></script> {% endcomment %}
        <script type="text/babel" src="{% static 'Tasks/ReactComponents.js' %}"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap" rel="stylesheet">  
    </head>

    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" id="nav_bar_top">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src='{% static 'Tasks/Tick_icon.png' %}' height="30" width="30">
            </a>
            <ul class="nav justify-content-end">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <p id='username'>{{ user.username }} </p>
                    </li>
                {% endif %}
                <li class="nav-item flex-fill">
                    <a class="nav-link" aria-current="page" href="{% url 'register' %}" id="nav_tasks">
                        Register
                    </a>
                </li>
                <li class="nav-item flex-fill">
                    <a class="nav-link" aria-current="page" href="{% url 'login' %}" id="nav_tasks">
                        Login
                    </a>
                </li>
                <li class="nav-item flex-fill">
                    <a class="nav-link" aria-current="page" href="{% url 'logout' %}" id="nav_tasks">
                        Logout
                    </a>
                </li>
            </ul>
        </nav>
        <div class="main_page">
            {% block body %}{% endblock %}
        </div>


        <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-bottom justify-content-center" id="nav_bar">
            <ul class="nav">
                
                    {% if request.path == '/' %}
                        <li class="nav-item flex-fill">
                            <a class="nav-link active" aria-current="page" href="{% url 'index' %}" id="nav_tasks">
                                <img class="nav-link" src="{% static  'Tasks/tasks.png'%}" height="40" width="55" id="nav_tasks_img">
                            </a>
                        </li>
                        <li class="nav-item flex-fill">
                            <a class="nav-link" href="{% url 'calendar' %}" id="nav_calendar" onclick>
                                <img class="nav-link" src="{% static  'Tasks/calendar.png'%}" height="40" width="55" id="nav_calendar_img">
                            </a>
                        </li>
                    {% elif request.path == '/calendar/' %}
                        <li class="nav-item flex-fill">
                            <a class="nav-link" aria-current="page" href="{% url 'index' %}" id="nav_tasks">
                                <img class="nav-link" src="{% static  'Tasks/tasks.png'%}" height="40" width="55" id="nav_tasks_img">
                            </a>
                        </li>
                        <li class="nav-item flex-fill">
                            <a class="nav-link active" href="{% url 'calendar' %}" id="nav_calendar" onclick>
                                <img class="nav-link" src="{% static  'Tasks/calendar.png'%}" height="40" width="55" id="nav_calendar_img">
                            </a>
                        </li>
                    {% endif %}
                
            </ul>
        </nav>

    </body>
</html>
