* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

.mont-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }  


.calendar_head {
    max-width: 800px;
    margin: 0 auto;
}

#calendar_top {
  margin-top: 5vh;
}

.border {
  border: solid 1px black;
}

.today {
  background-color: rgb(241, 249, 255);
}

.calendar_head .row {
  display: flex;
  height: calc(50vh / 6); /* Set height of each row to 1/6th of viewport height */
  max-height: calc(50vh / 6); /* Ensure rows don't exceed 1/6th of viewport height */
}

.calendar_head .col {
  flex: 1;
}

@media only screen and (max-width:1000px) {
  #calendar, .calendar_head {
    max-width: 600px;
}
}

@media only screen and (max-width:600px) {
  #calendar, .calendar_head {
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .calendar_head .col {
    flex: 0 0 calc(100% / 7); /* Set column width to 1/7 of the container width */
    max-width: calc(100% / 7); /* Ensure columns don't exceed 1/7 of the container width */
    font-size: 12px;
  }
}