#nav_bar {
    max-width: 60vw;
    border-radius: 20px;
    margin: 0 auto;
}

.active {
    background-color: rgb(224, 222, 222);
    border-radius: 20px;
    border: 0.8px solid darkgrey;
}

.nav-item:hover {
    border-bottom: 1px solid;
}

#tasks_container {
    width: 40vw;
    margin: 10px;
    border-radius: 20px;
    background-color: rgb(240, 238, 238);;
}



@media only screen and (max-width:400px) {
    #nav_calendar_img {
        max-height: 60px;
        max-width: 65px;
    }

    #nav_tasks_img {
        max-height: 60px;
        max-width: 65px;
    }
    #nav_bar {
        max-width: 95vw;
        border-radius: 20px;
        margin: 0 auto;
    }
}
