* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

.mont-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }  

#nav_bar {
    max-width: 23vw;
    border-radius: 10px;
    margin: 0 auto;
}

.due {
    font-size: 12px;
}

.complete {
    color: rgba(0, 0, 0, 0.423);
}

#plus {
    position: fixed;
    bottom: 80px;
    right: 10vw;
    border-radius: 40%;
    padding: 3px;
    padding-right: 10px;
    padding-left: 10px; 
    font-size: 22px;
}

#staticBackdrop {
    background-color: #fcfcfc;
}

#staticBackdropLabel {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 8px;
}

#newTaskForm {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ffffff;
    border: solid 0.5px rgb(180, 180, 180);
    border-radius: 10px;
    padding: 15px;
}

#username {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: black;
}

.submit_btn {
    display: block;
    margin-top: 15px;
    margin-left: auto;
}

#nav_bar_top {
    
    padding-left: 2%;
    padding-right: 20px;
    padding-bottom: 0;
    
}

.registerForm {
    padding-top: 10px;
}

.main_page {
    margin-top: 8vh;
}

.active {
    background-color: rgb(244, 244, 244);
    border-radius: 5px;
    border: 0.8px solid darkgrey;
}

.form-control {
    margin: 5px;
}

.nav-link:hover {
    border-bottom: 1px solid;
}

.nav-link {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 0;
}

.nav-item {
    margin: 0;
}

.container {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vh;
}

.central_alert {
    max-width: 60%;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    margin-top: 100px;
    text-align: center;
}

.blue_btn {
    background-color: rgb(66, 106, 250);
    border-radius: 5px;
    border: 0.5px solid rgb(38, 0, 255);
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.central_alert_btn {
    margin-left: 20px;
    margin-right: 20px;
}

.delete-btn {
    border: none;
    background-color: inherit;
    border-radius: 5px;
}

.blue_btn:hover {
    background-color: rgb(37, 83, 251);
}

#drop_btn {
    background-color: rgb(239, 239, 239);
    color: black;
    border: none;
    float:right;
    margin: 10px;
}

.unlink {
    text-decoration: none;
    color: inherit;
}

.fieldWrapper {
    margin: 10px;
    display: flex;
    align-items: center;
}

.fieldWrapper label {
    flex: 1; 
  }
  
.fieldWrapper input {
    margin-left: 10px;
}


#taskTitle {
    margin: 10px;
    display: block;
}

#taskTitle label {
    display: block;
    width: 100%;
  }
  
#taskTitle input {
    margin-top: 5px; 
    display: block;
    width: 100%;
    margin-left: 0;
    } 

#tasks_section {
    background-color: rgb(239, 239, 239);
    padding: 10px;
    border-radius: 10px;
}

/* Styling the 'completed' accordion */
.accordion-button:not(.collapsed) {
    background-color: rgb(240, 238, 238);
    color: black;
    border: 0;
    border-bottom: 0;
    box-shadow: 0; 
  }

.accordion-button {
    border-radius: 10px 10px 5px 5px;
    background-color: rgb(240, 238, 238);
    padding: 10px;
    border: 0;
    font-size:12px;
    margin-top: 0;
}

button.accordion-button:focus{
    box-shadow: inherit;
}

.accordion-item {
    background-color: rgb(240, 238, 238);
    border: 0;
}

.success {
    color: green;
}

.danger {
    color: red;
}

.tasks_container {
    margin-top: 2vh;
    border-radius: 5px;
    background-color: rgb(240, 238, 238);   
    padding: 5px;
    max-width: 100%;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

#completed_tasks_container {
    margin-top: 0;
}

@media only screen and (max-width:658px) {
    #nav_bar {
        max-width: 95vw;
        border-radius: 20px;
        margin: 0 auto;
    }

    #taskTitle {
        max-width: 80%;
    }

    #taskTitle input {
        margin-left: 10px;
    }

    .fieldWrapper {
        margin: 10px;
        display: block;
        font-size: 14px;
    }
    
    .fieldWrapper label {
        display: block;
        width: 100%;
        margin-left: 10px;
      }
      
    .fieldWrapper input {
        margin-top: 10px;
        display: block;
        width: 40%;
        margin-left: 0 auto;
        }

    #id_task {
        width: 100%;
        margin-left: 0;
        display: block;
    }

    .due {
        font-size: 11px;
    }
    #tasks_container {
        font-size: 14px;
    }
    }

    @media only screen and (max-width:385px) {
        #tasks_container {
            font-size: 11px;
        }

        .due {
            font-size: 9px;
        }
    }

    @media (min-width: 575px) {
        .navbar-collapse {
            flex-basis: auto;
            flex-grow: 1;
            justify-content: flex-end;
            margin-right: 10px;
        }
        .navbar-brand {
            margin-right: auto;
        }
    }